body{
    margin-left: auto;
    margin-right: auto;
    margin-top:5em;
    margin-bottom:5em;
    padding:0;
    width:70%;
    font-family:sans-serif;
    /*border:red solid thin;*/
}

.nav{
	margin-top:10px;
	background-color:rgb(10,202,250);
}


#iframe{
	width:100%;
	/*border:red solid thin;*/
}

.clearfix{
	clear:both;
}



.nav .link {
	width:100px;
	height:40px;
	background-color:rgb(10,202,250);
	color:white;
	border:0px;
	font-size: 110%;
}

/* no focus*/
.nav .link:focus {
  outline: none;
}

.nav .link:hover {
	color: black;
	cursor: pointer;
}


#footer{
    clear:both; /*clear the float*/
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
    text-align:center;
    /*    border:thin black solid; */
}
