body{
    margin-left: auto;
    margin-right: auto;
    padding:0;
    width:100%;
    font-family:sans-serif;
    /*border:red solid thin;*/
}

#title{
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom:1em;
    /*padding:0.2em;*/
    text-align:center;
    font-size:200%;
    width:600px;
    /*background-color:lightblue;*/
    /*border:black solid;*/
}

#game{
	/*border:grey solid thin;*/
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	margin-bottom:1em;
}

.clearfix{
	clear:both;
}

#canvas{
    margin-left: auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom:1em;
    width:500px;
	float:left;
}

canvas{
    border:grey solid thin;
}

#panel{
	float:left;
    /*border:grey solid thin;*/
    margin-top:1em;
    margin-bottom:1em;
	margin-left:1em;
    text-align:center;
    width:45%;
}

#control{
	
}

#info{
	/*border:grey solid thin;*/
	margin-top:1em;
	margin-bottom:1em;
	margin-left:1.5em;
}



#buttons{
	margin-bottom:1em;
}

#learners {
	width:260px;
}


